:root{
    --primary: #00d4ff;
    --secondary: #0055ff;
    --dark: #0a0e17;
    --light-bg: #161b22;
    --text: #ffffff;
    --text-dim: #b1b1b1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Segoe UI', Roboto, sans-serif;
}

body{
    background-color: var(--dark);
    color: var(--text);
    line-height: 1.6;
}

/*Navigation*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}
.logo{
    font-size: 1.5rem;
}
.logo span{
    color: var(--primary);
}
nav ul{display: flex; list-style: none;}
nav ul li{margin-left: 2rem;}
nav ul li a{color: white; text-decoration: none;}

/*Hero sectio*/
.hero{
    height: 80vh;
    background: linear-gradient(rgba(10, 14, 23, 0.8)), url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.hero-content {
    margin: auto;
    max-width: 800px;
}
.hero h1{ font-size: 3.5rem; margin-bottom: 1rem;}
.hero p{ font-size: 1.2rem; color: var(--text-dim); margin-bottom: 2rem;}

/*Buttons*/
.btn-main{
    background: linear-gradient(45deg, var(--primary));
    color: white;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s;
}
.btn-main:hover{ transform: scale(1.05);}
.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 5rem 10%;
}
.card{
    background: var(--light-bg);
    padding: 3rem 2rem;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #30363d;
    transform: 0.3s;
}
.card:hover{
    border-color: var(--primary);
    transform: translate(-10px);
}
.card i{
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 1.5rem;
}
card h3{
    margin-bottom: 1rem;
}
.card p{
    color: var(--text-dim);
}

/*Sections*/
.why-us{
    text-align: center;
    padding: 5rem 10% 0;
}
.subtitle{ color: var(--primary); font-weight: bold; text-transform: uppercase;}
.description{ max-width: 700px; margin: 1rem auto; color: var(--text-dim);}

.cta{
    text-align: center;
    padding: 5rem 10%;
    background: var(--light-bg);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}
/*Modal Box*/
.modal-content{
    background: var(--light-bg);
    padding: 2.5rem;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    border: 1px solid var(--primary);
}

/*Form styling*/
#contactForm{ display:flex; flex-direction: column; gap: 1rem; margin-top: 1.5rem;}
#contactForm input, #contactForm select, #contactForm textarea{
    padding: 0.8rem;
    background: var(--dark);
    border: 1px solid #30363d;
    color: white;
    border-radius: 8px;
}
/*Reveal Animation Styles*/
.card{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease-out;
}
.card.visible{
    opacity: 1;
    transform: translateY(0);
}
.direct-contact{
    margin-top: 25px;
    text-align: center;
    border-top: 1px solid 30363d;
    padding-top: 15px;
}
.contact-icons{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 10px;
}
.contact-icons a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}
.floating-whatsapp{
   /* color: #25D366;*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: transform 0.3s;
}
.whatsapp{
    color: #25D366;
}
.floating-whatsapp:hover{
    transform: scale(1.1);
}
.email-link{
    color: #00d4ff;
}
.contact-icons a:hover{
    opacity: 0.7;
}

footer{
    padding: 40px 10%;
    background: #0a0e17;
    text-align: center;
    border-top: 1px solid #30363d;
}
footer p{color: var(--text-dim);}

footer-links a {
    color: var(--text-dim);
    font-size: 1.5rem;
    margin: 0 10px;
    transition: 0.3s;
}
.footer-links a:hover{color: var(--primary);}
#backToTop{
    display:none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    transition: opacity 0.3s transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#backToTop:hover{
    background-color: var(--secondary);
    transform: translateY(-5px);
}

/**@media (max-width: 768px){
    nav{
        padding: 15px 5%;
    }
    nav ul{
        display:none;
        flex-direction: column;
        background: #0e0e17;
        position:absolute;
        top:70px;
        left:0;
        width: 100px;
        padding: 20px;
        border-bottom: 2px solid var(--primary);
    }
    nav ul.active{
        display: flex;
    }

@media (max-width: 600px){
    .services-container{
        padding: 40px 20px;
    }
    .card{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .card h3{
        font-size: 1.2rem;
    }
}
.modal-content{
    width: 90%;
    max-width: 450px;
    padding: 25px;
    margin: 10px;
}**/

/* --MOBILE OPTIMIZATION BLOCK--*/

/**@media (max-width: 768px) {
    :root{
        --mobile-padding:20px;
    }
    html{
        font-size: 20px;
    }
    body{
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 0.01rem;
        overflow-x: hidden;
    }
    h1{
        font-size: clamp(2.8rem, 6vw, 3.5rem) !important; text-align: center;
    }
    h2{
        font-size: clamo(2.2rem, 5vw, 2.8rem) !important; text-align: center;
        margin-top: 40px;
    }
    h3{
        font-size: 2.0rem !important;
        margin-bottom: 25px;
    }
    .services-container, .grid-container{
        display: flex;
        flex-direction: column;
        padding: 10px var(--mobile-padding);
        gap: 20px;
    }
    .card{
        width: 100% !important;
        margin:0;
        padding: 25px;
        box-sizing: border-box;
    }
    .card p{
        font-size: 1.15rem;
    }
    .modal-content{
        width: 96%;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        max-width: 600px;
        padding: 45px 25px !important;
        border-radius: 25px;
    }
    .modal-content input,
    .modal-content select,
    ,modal-content textarea {
        padding: 22px !important;
        font-size: 1.2rem !important;
        margin-bottom:25px;
        border-radius: 12px;
    }
    .close-btn{
        font-size:45px;
        top:15px;
        right: 20px;
    }
    input, select, text area, .btn-main{
        font-size: 16px !important;
        padding: 15px !important;
    }
    .floating-whatsapp{
        width:55px;
        height: 55px;
        bottom: 20px;
        right:20px;
    }
    #backToTop{
        width:45px;
        height: 45px;
        bottom: 85px;
        right:25px;
    }
    .footer-links{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        padding-left: 20px;
    }
}   
@media (max-width: 380px){
    h1{ font-size: 1.8rem !important;}
}*/
